<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Menu Page</h1>
        <a href="/menu" class="btn btn-default btn-sm" style="background-color:gray;">Menu</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/scratching-post" class="btn btn-default btn-sm">Scratching Post</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><img src="<%= user.profileImg %>" alt=""> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>THIS IS A MENU</h3>
          <p>Click on links to go to places. #SorryNotSorry</p>

          <h2>LINKS TO GO PLACES</h2>

          <ul>
            <li><a href="/demo" class="btn btn-default btn-sm">Demo</a></li>
            <li><a href="/user" class="btn btn-default btn-sm">User</a></li>
            <li><a href="/profile" class="btn btn-default btn-sm">Profile</a></li>
            <li><a href="/images" class="btn btn-default btn-sm">Images</a></li>
            <li><a href="/menu" class="btn btn-default btn-sm">Scratching Post</a></li>
            <li><a href="/logout" class="btn btn-default btn-sm">Logout</a></li>
          </ul>
        </div>

        <!-- IMAGE UPLOAD -->
        <form action="/up" enctype="multipart/form-data" method="post">
           <input type="file" name="file-to-upload">
           <input type="submit" value="Upload">
         </form>

</div>

<script src="main.js"></script>

</body>
</html>
